.navbar {
  justify-content: space-between;
  padding: 0 30px;
  background-color: #fff;
}

.nav-heading {
  margin-right: 20px;
  font-size: 30px;
}

.nav-form {
  width: 450px;
  height: 40px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  padding: 3px;
  position: relative;
}

.nav-search {
  flex: 1;
  height: 100%;
  padding: 0 7px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
}

.search-button {
  height: 100%;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #6457f9;
  color: white;
  cursor: pointer;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  background-color: #fff;
  list-style: none;
  z-index: 9999;
}

.search-suggestion-link {
  display: flex;
}

.search-suggestion-link > a {
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-suggestion-link:hover,
.search-suggestion-link.active {
  background-color: #e3e3e3;
}

.nav-links {
  font-size: 20px;
}

.nav-links a {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.nav-links a.active {
  font-weight: 600;
  transform: scale(1.1);
  color: #6457f9;
}

.cart-counts {
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #e73535;
  color: white;
  font-size: 15px;
  margin-left: 5px;
}
